.popup {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 16px 25px;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  z-index: 999;
  transform: translateX(400px);
  transition: 0.4s;

  &.show {
    transform: translateX(0);
  }
}

.offline {
  background: #ef4444;
  box-shadow: 0 10px 30px #ef44444d;
}

.online {
  background: #22c55e;
  box-shadow: 0 10px 30px #22c55e4d;
}
