.search {
  margin-top: 20px;
  min-height: 75px;

  & .form {
    & .btn {
      background: #146ae5;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;

      &:disabled {
        background: gray;
        pointer-events: all;
        cursor: no-drop;
      }
    }
  }

  & .message {
    display: block;
    margin-top: 5px;
    color: #ae1111;
  }

  & .hide {
    display: none;
  }
}
